/venv
/yummy/__pycache_
/yummy/.idea/*
/yummy/*.out

venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

/yummy_new/.idea/*
/yummy_new/__pycache_
/yummy_new/.idea/*
/yummy_new/*.out
*.out
*.ipynb

